@tailwind base;
@tailwind components;
@tailwind utilities;

.single_post_detail_page img, .single_post_detail_page figure{
    max-width: 100%;
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
}
.react-loading-skeleton{
    background-color: transparent !important;
    animation: none !important;
}
.react-loading-skeleton::after{
    animation: none !important;
}
li{
    margin: 0;
}